.IntroWrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #1f304a;
}

.IntroTitle {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  color: white;
}

.IntroContent {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.IntroInputTitle {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 28px;
}