.IntroWrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #1f304a;
}

.IntroTitle {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  color: white;
}

.IntroContent {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.IntroInputContainter {
  display: block;
}

.IntroInputTitle {
  color: white;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 42px;
}

.IntroInputTextBox {
  display: inline-block;
  align-content: top;
  font-size: 32px;
  max-width: 250px;
  text-align: center;
}

.IntroInputButton {
  margin-top: 20px;
  font-size: 18px;
  width: 100px;
  height: 40px;
}
