.IntroWrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #C8D3D5;
}

.IntroTitle {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
}

.IntroContent {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.IntroInputTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 28px;
}