.WrapperSection {
  height: 100%;
  width: 100%;
  position: absolute;
  color: white;
  background-color: #1f304a;
  /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
}


.InfoSection {
  font-size: 32px;
  width: 100%;
  height: 20%;
}

.InfoSection_vidas {
  display: inline-block;
  text-align: left;
  width: calc(50% - 20px);
  margin-left: 20px;
  margin-top: 20px;
}

.InfoSection_cartas {
  display: inline-block;
  width: calc(50% - 20px);
  text-align: right;
  margin-right: 20px;
  margin-top: 20px;

}


.MesaSection {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MesaValor {
  font-size: 150px;
}


.ManoSection {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Carta {
  font-size: 42px;
  margin-left: 20px;
  display: inline-block;
  text-align: center;
  justify-content: center;
  max-width: 200px;
}